.button {
    -fx-alignment: center;
    -fx-background-color: #f5f0e1;
    -fx-background-image: none;
    -fx-background-position: 0 90%;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 4px 3px;
    -fx-border-radius: 15px 225px 255px 15px;
    -fx-border-style: solid;
    -fx-border-width: 2px;
    -fx-box-sizing: border-box;
    -fx-text-fill: #41403e;
    -fx-cursor: hand;
    -fx-display: inline-block;
    -fx-font-family: Neucha, sans-serif;
    -fx-font-size: 18px; /* Change '1rem' to '18px' */
    -fx-line-height: 23px;
    -fx-padding: 12px; /* Change '0.75rem' to '12px' */
    -fx-text-decoration: none;
    -fx-transition: all 0.235s ease-in-out;
    -fx-border-radius: 15px 255px 225px 15px;
    -fx-border-width: 2px;
    -fx-border-color: transparent;
    -fx-user-select: none;
    -fx-touch-action: manipulation;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 2, 8, 8, -5);
}

.button:hover {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 2, 8, 8, -5);
    -fx-translate-y: 2;
}


.root {
    -fx-background-image: url('../image/menu.jpg');
    -fx-background-size: cover;
}